body {
    padding-top: 70px;
}


h2 {
    font-size: 1em;
}


th {
    white-space: nowrap;
}

td {
    vertical-align: middle !important;
}


/*
CUSTOM BOOTSTRAP
*/


.navbar li a.active {
    color: #FAAF3E !important;
}


.navbar-brand {
    padding: 10px !important;
}


.navbar-brand img {
    max-height: 30px;
}


.pagination > li > a,
.pagination > li > span {
    color: #00A4B2 !important;
}


.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #00A4B2 !important;
    border-color: #00A4B2 !important;
    color: #FFF !important;
}


.panel-body.row {
    overflow: hidden;
    padding: 0 !important;
}


.panel-green {
    border: 1px solid #00A4B2 !important;
    border-radius: 0 !important;
}

.panel-green .panel-heading {
    background-color: #00A4B2 !important;
    border-radius: 0 !important;
    color: #FFFFFF;
}


/*
CHARTS
*/


.charts {
    display: flex;
}


.charts__item {
    flex: 1;
}


.color-blue {
    color: #1F77B4;
}


.color-grey {
    color: #DDDDDD;
}


.color-orange {
    color: #FF7F0E;
}


.color-green {
    color: #2CA02C;
}


.color-red {
    color: #D62728;
}


.color-purple {
    color: #9467BD;
}


.detail .table {
    margin: 0;
}


.c3-region.incomplete-area {
    fill: #D62728;
    fill: #FF0000;
}


.c3-region.complete-area {
    fill: #2CA02C;
}


.c3-region.complete-area rect,
.c3-region.incomplete-area rect {
    fill-opacity: 0.25 !important;
}

.c3-xgrid-line.stroke-red text {
    fill: #D62728;
}

.c3-xgrid-line.stroke-red line {
    stroke: #D62728;
}


@media (min-width: 768px) {

    .chart {
        border-right: 1px solid #00A4B2;
        position: relative;
        right: -1px;
    }

    .detail {
        border-left: 1px solid #00A4B2;
        padding-left: 0 !important;
    }

}

.text-number {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}
