.color-blue {
    color: #1F77B4 !important;
}


.color-grey {
    color: #DDDDDD !important;
}


.color-orange {
    color: #FF7F0E !important;
}


.color-green {
    color: #2CA02C !important;
}


.color-red {
    color: #D62728 !important;
}


.color-purple {
    color: #9467BD !important;
}

.panel-green {
    & .panel-heading {
        color: #FFFFFF !important;
    }
}
